<template>
  <div
    class="card-body col-span-1 md:col-span-3 lg:col-span-2"
    v-bind:class="cardStyle"
  >
    <div class="flex flex-col content-start mb-6">
      <p class="card-title">
        {{ title }}
      </p>
      <p class="text-left text-gray-500">{{ subtitle }}</p>
    </div>
    <div id="lineChart">
      <apexchart
        type="area"
        height="380"
        :options="chartOptions"
        :series="parsedSeries"
        ref="lineChart"
      ></apexchart>
    </div>
    <div class="ml-0 mt-4 flex flex-col content-start">
      <div v-if="link" class="card-footer">
        <router-link :to="{ path: link }" class="btn-more">
          {{ linkLabel }}
          <!-- prettier-ignore -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500 hover:text-gray-900 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LineCard",
  props: {
    data: Array,
    title: String,
    subtitle: String,
    link: String,
    linkLabel: String,
    cardStyle: String,
  },
  computed: {
    parsedSeries() {
      let parsedDataWrapper = [{}];
      let parsedData = [];

      this.data.forEach((el) => {
        parsedData.push(el.count);
      });

      parsedDataWrapper[0]["name"] = "Series 1";
      parsedDataWrapper[0]["data"] = parsedData;

      return parsedDataWrapper;
    },
    parsedLabels() {
      let parsedData = [];

      this.data.forEach((el) => {
        parsedData.push(el.date);
      });

      return parsedData;
    },
    chartOptions() {
      return {
        chart: {
          type: "area",
          height: 380,
          width: "100%",
          zoom: {
            enabled: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
        },
        labels: this.parsedLabels,
        series: this.parsedSeries,
        xaxis: {
          type: "category",
          categories: this.parsedLabels,
        },
        yaxis: {
          opposite: false,
        },
        legend: {
          horizontalAlign: "left",
        },
        redrawOnWindowResize: true,
      };
    },
  },
  data() {
    return {
      series: this.parsedSeries,
    };
  },
  mounted() {},
  created() {},
  updated() {},
  methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
