<template>
  <div
    class="card-body col-span-1 md:col-span-3 lg:col-span-1"
    v-bind:class="cardStyle"
  >
    <div class="flex flex-col content-start mb-6">
      <p class="card-title">
        {{ title }}
      </p>
      <p class="text-left text-gray-500">{{ subtitle }}</p>
    </div>
    <div id="realtimeChart">
      <apexchart
        type="donut"
        width="380"
        :options="chartOptions"
        :series="parsedSeries"
        ref="realtimeChart"
      ></apexchart>
    </div>
    <div class="ml-0 mt-4 flex flex-col content-start">
      <div v-if="link" class="card-footer">
        <router-link :to="{ path: link }" class="btn-more">
          {{ linkLabel }}
          <!-- prettier-ignore -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500 hover:text-gray-900 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PieCard",
  props: {
    data: Array,
    title: String,
    subtitle: String,
    link: String,
    linkLabel: String,
    cardStyle: String,
  },
  computed: {
    parsedSeries() {
      let parsedData = [];

      this.data.forEach((el) => {
        parsedData.push(el.count);
      });

      return parsedData;
    },
    parsedLabels() {
      let parsedData = [];

      this.data.forEach((el) => {
        parsedData.push(el.node_id);
      });

      return parsedData;
    },
    chartOptions() {
      return {
        chart: {
          width: "100%",
          type: "donut",
        },
        labels: this.parsedLabels,
        dataLabels: {
          enabled: false,
        },
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: "100%",
              },
              legend: {
                show: false,
              },
            },
          },
          {
            breakpoint: 1315,
            options: {
              chart: {
                width: "100%",
              },
              legend: {
                show: true,
              },
            },
          },
        ],
        legend: {
          position: "bottom",
          offsetY: 0,
          height: 80,
        },
        redrawOnWindowResize: true,
      };
    },
  },
  data() {
    return {};
  },
  mounted() {
    // only way to ensure charts don't render 3x when navigating back to /
    setTimeout(() => {
      window.dispatchEvent(new Event("resize"));
    }, 1);
  },
  created() {},
  updated() {},
  methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
