<template>
  <div v-if="loading" class="w-full h-screen">
    <Loader />
  </div>
  <div v-else class="section-container">
    <div class="w-100 flex mb-4">
      <router-link to="/" class="back-nav">
        <!-- prettier-ignore -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
        </svg>
        Back to Dashboard
      </router-link>
    </div>
    <h1 class="section-title">Your Canaries</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-6">
      <DeviceCard
        v-for="device in deviceList"
        :key="device.device_id"
        :device="device"
      />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Loader from "@/components/Loader.vue";
import DeviceCard from "@/components/DeviceCard.vue";

export default {
  name: "Canaries",
  components: {
    Loader,
    DeviceCard,
  },
  computed: {},
  data() {
    return {
      loading: false,
      url: process.env.VUE_APP_API,
      deviceList: [],
      alertsList: [],
    };
  },
  mounted() {
    this.deviceList = this.$store.getters.getDeviceList;
    if (this.$store.getters.getDeviceList.length === 0) {
      this.populateData();
    }
  },
  created() {},
  methods: {
    populateData() {
      this.loading = true;
      axios
        .get(this.url)
        .then((response) => {
          // handle success
          this.deviceList = response.data["device_list"];
          this.alertsList = response.data["alerts"];
          this.$store.commit("setDeviceList", this.deviceList);
          this.$store.commit("setAlerts", this.alertsList);
          this.loading = false;
        })
        .catch((error) => {
          // handle error
          this.loading = false;
          if (error.response) {
            // client received an error response (5xx, 4xx)
            console.log("Server Error:", error);
          } else if (error.request) {
            // client never received a response, or request never left
            console.log("Network Error:", error);
          } else {
            console.log("Client Error:", error);
          }
        });
    },
  },
};
</script>
