<template>
  <div v-if="loading" class="w-full h-screen">
    <Loader />
  </div>
  <div v-else class="section-container">
    <div class="w-100 flex mb-4">
      <router-link to="/canaries" class="back-nav">
        <!-- prettier-ignore -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
        </svg>
        Back to Canaries
      </router-link>
    </div>
    <div class="flex flex-row justify-center content-center mt-4 mb-2">
      <h1 class="text-xl text-black font-bold mr-2">
        {{ device.name }}
      </h1>
      <div class="">
        <div
          v-if="device.device_live === 'True'"
          class="flex justify-center items-center"
        >
          <div
            class="
              rounded-full
              h-5
              w-5
              flex
              items-center
              justify-center
              bg-primary-green
              z-10
            "
          >
            <!-- prettier-ignore -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 text-white" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.05 3.636a1 1 0 010 1.414 7 7 0 000 9.9 1 1 0 11-1.414 1.414 9 9 0 010-12.728 1 1 0 011.414 0zm9.9 0a1 1 0 011.414 0 9 9 0 010 12.728 1 1 0 11-1.414-1.414 7 7 0 000-9.9 1 1 0 010-1.414zM7.879 6.464a1 1 0 010 1.414 3 3 0 000 4.243 1 1 0 11-1.415 1.414 5 5 0 010-7.07 1 1 0 011.415 0zm4.242 0a1 1 0 011.415 0 5 5 0 010 7.072 1 1 0 01-1.415-1.415 3 3 0 000-4.242 1 1 0 010-1.415zM10 9a1 1 0 011 1v.01a1 1 0 11-2 0V10a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
          </div>
          <div
            class="
              rounded-full
              h-5
              w-5
              flex
              items-center
              justify-center
              bg-primary-green
              z-0
              absolute
              animate-ping-small
            "
          ></div>
        </div>
        <div
          v-else
          class="
            rounded-full
            h-5
            w-5
            flex
            items-center
            justify-center
            bg-primary-red
          "
        >
          <!-- prettier-ignore -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 text-white" viewBox="0 0 20 20" fill="currentColor">
            <path d="M3.707 2.293a1 1 0 00-1.414 1.414l6.921 6.922c.05.062.105.118.168.167l6.91 6.911a1 1 0 001.415-1.414l-.675-.675a9.001 9.001 0 00-.668-11.982A1 1 0 1014.95 5.05a7.002 7.002 0 01.657 9.143l-1.435-1.435a5.002 5.002 0 00-.636-6.294A1 1 0 0012.12 7.88c.924.923 1.12 2.3.587 3.415l-1.992-1.992a.922.922 0 00-.018-.018l-6.99-6.991zM3.238 8.187a1 1 0 00-1.933-.516c-.8 3-.025 6.336 2.331 8.693a1 1 0 001.414-1.415 6.997 6.997 0 01-1.812-6.762zM7.4 11.5a1 1 0 10-1.73 1c.214.371.48.72.795 1.035a1 1 0 001.414-1.414c-.191-.191-.35-.4-.478-.622z" />
          </svg>
        </div>
      </div>
    </div>
    <div class="flex-row justify-center content-center mb-6">
      <p v-if="device.device_id" class="text-lg text-gray-500">
        ({{ device.device_id }})
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-6">
      <div class="col-span-1">
        <div
          class="
            p-6
            bg-white
            rounded-xl
            shadow-md
            flex flex-col
            content-start
            items-left
            relative
            transform
            transition
            duration-300
            hover:-translate-y-2
          "
        >
          <div
            class="
              flex flex-row
              text-left
              mt-4
              mb-4
              flex-row
              whitespace-nowrap
              inline-flex
              items-center
            "
          >
            <!-- prettier-ignore -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-900 mr-2" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M3 5a2 2 0 012-2h10a2 2 0 012 2v8a2 2 0 01-2 2h-2.22l.123.489.804.804A1 1 0 0113 18H7a1 1 0 01-.707-1.707l.804-.804L7.22 15H5a2 2 0 01-2-2V5zm5.771 7H5V5h10v7H8.771z" clip-rule="evenodd" />
                </svg>
            <p class="text-left text-gray-900 font-bold">Description</p>
          </div>
          <div class="flex flex-col text-left mb-4">
            <p class="text-left text-gray-500 font-bold">{{ device.name }}</p>
            <p class="text-left text-gray-500 text-sm font-bold">
              {{ device.description }}
            </p>
          </div>
          <div
            v-if="device.device_live"
            class="flex flex-row text-left text-sm"
          >
            <strong class="mr-2">Status:</strong>
            <span v-if="device.device_live === 'True'">Live</span>
            <span v-else>Down</span>
          </div>
          <div
            v-if="device.device_id"
            class="flex flex-row text-left text-sm mr-2"
          >
            <strong class="mr-2">Device ID:</strong>
            {{ device.device_id }}
          </div>
          <div
            v-if="device.ip_address"
            class="flex flex-row text-left text-sm mr-2"
          >
            <strong class="mr-2">IP Address:</strong>
            {{ device.ip_address }}
          </div>
          <div
            v-if="device.mac_address"
            class="flex flex-row text-left text-sm"
          >
            <strong class="mr-2">Mac Address:</strong>
            {{ device.mac_address }}
          </div>
          <div v-if="device.ippers" class="flex flex-row text-left text-sm">
            <strong class="mr-2">Platform:</strong>
            {{ device.ippers }}
          </div>
          <div
            v-if="device.service_count"
            class="flex flex-row text-left text-sm"
          >
            <strong class="mr-2">Services:</strong>
            {{ device.service_count }}
          </div>
        </div>
      </div>
      <div class="col-span-1 md:col-span-2">
        <div
          class="
            p-6
            bg-white
            rounded-xl
            shadow-md
            flex flex-col
            content-start
            items-left
            relative
            h-full
            transform
            transition
            duration-300
            hover:-translate-y-2
          "
        >
          <div
            class="
              flex flex-row
              text-left
              mt-4
              mb-4
              flex-row
              whitespace-nowrap
              inline-flex
              items-center
            "
          >
            <!-- prettier-ignore -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-900 mr-2" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" />
                  <path d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z" />
                </svg>
            <p class="text-left text-gray-900 font-bold">Incidents Reported</p>
          </div>
          <DataTable
            :value="parsedAlerts"
            :paginator="true"
            :rows="10"
            v-model:filters="filters"
            filterDisplay="menu"
            :autoLayout="true"
            :loading="loading"
          >
            <Column field="key_hash" header="ID" :sortable="true"></Column>
            <Column
              field="description"
              header="Description"
              :sortable="true"
            ></Column>
            <Column
              field="dst_host"
              header="Canary IP"
              :sortable="true"
            ></Column>
            <Column
              field="src_host"
              header="Attacker IP"
              :sortable="true"
            ></Column>
            <Column
              field="created_readable"
              header="Date"
              :sortable="true"
            ></Column>
          </DataTable>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Loader from "@/components/Loader.vue";

export default {
  name: "Canary",
  components: {
    Loader,
  },
  computed: {
    parsedAlerts() {
      let parsedAlerts = [];

      this.alerts.forEach((alert) => {
        alert["key_hash"] = this.stringToHash(alert.key);
        alert["created_readable"] = this.shortenDate(alert.created_printable);
        parsedAlerts.push(alert);
      });

      return parsedAlerts;
    },
  },
  data() {
    return {
      loading: false,
      url: process.env.VUE_APP_API,
      deviceList: [],
      device: {},
      alertsList: [],
      alerts: [],
    };
  },
  mounted() {
    //this.getDevice();
  },
  created() {
    this.getDevice();
  },
  methods: {
    getDevice() {
      this.deviceList = this.$store.getters.getDeviceList;
      this.alertsList = this.$store.getters.getAlerts;
      if (this.deviceList.length === 0 || this.alertsList.length === 0) {
        this.populateData();
      } else {
        this.device = this.getDeviceFromList(this.deviceList);
        this.alerts = this.getAlertsFromDevice(this.device, this.alertsList);
      }
    },
    populateData() {
      this.loading = true;
      axios
        .get(this.url)
        .then((response) => {
          // handle success
          this.deviceList = response.data["device_list"];
          this.alertsList = response.data["alerts"];
          this.$store.commit("setDeviceList", this.deviceList);
          this.$store.commit("setAlerts", this.alertsList);
          this.device = this.getDeviceFromList(this.deviceList);
          this.alerts = this.getAlertsFromDevice(this.device, this.alertsList);
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          // handle error
          if (error.response) {
            // client received an error response (5xx, 4xx)
            console.log("Server Error:", error);
          } else if (error.request) {
            // client never received a response, or request never left
            console.log("Network Error:", error);
          } else {
            console.log("Client Error:", error);
          }
        });
    },
    getDeviceFromList(deviceList) {
      let data = {};
      deviceList.forEach((device) => {
        if (device["device_id"] === this.$route.params.id) {
          data = device;
        }
      });
      return data;
    },
    getAlertsFromDevice(device, alertsList) {
      let data = [];
      alertsList.forEach((alert) => {
        if (device["device_id"] === alert["node_id"]) {
          data.push(alert);
        }
      });
      return data;
    },
    stringToHash(s) {
      return s.split("").reduce(function (a, b) {
        a = (a << 5) - a + b.charCodeAt(0);
        return a & a;
      }, 0);
    },
    shortenDate(date) {
      date = date.replace(" GMT+0000 (UTC)", "");
      return date;
    },
  },
};
</script>
