<template>
  <div v-if="loading" class="w-full h-screen">
    <Loader />
  </div>
  <div v-else class="section-container">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-6 mb-4">
      <StatCard
        v-if="this.totalIncidents"
        title="Total Incidents"
        subtitle="Lifetime"
        :value="totalIncidents"
        valueStyle="text-3xl font-bold"
        label=""
        link="incidents"
        linkLabel="View Incidents"
        colour=""
      />
      <StatCard
        v-if="this.topAttacker"
        title="Top Attacker"
        subtitle="Most alerts triggered"
        :value="topAttacker.src_host"
        valueStyle="text-xl lg:text-3xl font-bold"
        label=""
        link="incidents"
        linkLabel="View Incidents"
        colour=""
      />
      <StatCard
        v-if="this.topAttackedCanary"
        title="Most Attacked Canary"
        subtitle="Highest total alerts triggered"
        :value="topAttackedCanary.node_id"
        valueStyle="text-xl lg:text-2xl font-bold"
        :label="'(' + topAttackedCanary.count + ' times)'"
        :link="'/canaries/' + topAttackedCanary.node_id"
        linkLabel="View Canary"
        colour=""
      />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-6">
      <PieCard
        v-if="this.incidentsPerCanary"
        :data="incidentsPerCanary"
        title="Incident per Canary"
        subtitle="Number of attacks on Canaries owned"
        label=""
        link=""
        linkLabel=""
        colour=""
      />
      <LineCard
        v-if="this.incidentsPerMonth2016"
        :data="incidentsPerMonth2016"
        title="Incidents over time"
        subtitle="Alerts triggerd by Canaries (2016)"
        label=""
        link="incidents"
        linkLabel="View Incidents"
        colour=""
      />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Loader from "@/components/Loader.vue";
import StatCard from "@/components/StatCard.vue";
import PieCard from "@/components/charts/PieCard.vue";
import LineCard from "@/components/charts/LineCard.vue";
export default {
  name: "Dashboard",
  components: {
    Loader,
    StatCard,
    PieCard,
    LineCard,
  },
  data() {
    return {
      loading: false,
      url: process.env.VUE_APP_API,
      alerts: [],
      deviceList: [],
    };
  },
  computed: {
    totalIncidents() {
      return this.alerts.length;
    },
    incidentsPerCanary() {
      let counted = this.getCountArray(this.alerts, "node_id");

      return counted;
    },
    topAttackedCanary() {
      let counted = this.getCountArray(this.alerts, "node_id");
      let maxValueOfCount = Math.max(...counted.map((o) => o.count), 0);
      let canary = counted.find((el) => el.count === maxValueOfCount);

      return canary;
    },
    topAttacker() {
      let counted = this.getCountArray(this.alerts, "src_host");
      let maxValueOfCount = Math.max(...counted.map((o) => o.count), 0);
      let attacker = counted.find((el) => el.count === maxValueOfCount);

      return attacker;
    },
    incidentsPerMonth2016() {
      let slimmedAlerts = this.slimAlerts(this.alerts);
      let counted = this.getCountArray(slimmedAlerts, "date");

      return counted;
    },
  },
  mounted() {
    this.deviceList = this.$store.getters.getDeviceList;
    this.alerts = this.$store.getters.getAlerts;
    if (this.deviceList.length === 0 || this.alerts.length === 0) {
      this.populateData();
    }
  },
  created() {},
  methods: {
    populateData() {
      this.loading = true;
      axios
        .get(this.url)
        .then((response) => {
          // handle success
          this.deviceList = response.data["device_list"];
          this.alerts = response.data["alerts"];
          this.$store.commit("setDeviceList", this.deviceList);
          this.$store.commit("setAlerts", this.alerts);
          this.loading = false;
        })
        .catch((error) => {
          // handle error
          this.loading = false;
          if (error.response) {
            // client received an error response (5xx, 4xx)
            console.log("Server Error:", error);
          } else if (error.request) {
            // client never received a response, or request never left
            console.log("Network Error:", error);
          } else {
            console.log("Client Error:", error);
          }
        });
    },
    getCountArray(arr, key) {
      let counted = [];
      arr.forEach((alert) => {
        if (
          counted.some((val) => {
            return val[key] == alert[key];
          })
        ) {
          counted.forEach((count) => {
            if (count[key] === alert[key]) {
              count["count"]++;
            }
          });
        } else {
          let holder = {};
          holder[key] = alert[key];
          holder["count"] = 1;
          counted.push(holder);
        }
      });

      return counted;
    },
    slimAlerts(alerts) {
      let slimmedAlerts = [];
      alerts.forEach((alert) => {
        let el = {};
        let dateArr = alert.created_printable.split(" ");
        el.key = alert.key;
        el.date = dateArr[1] + " " + dateArr[3];
        if (dateArr[3] === "2016") {
          slimmedAlerts.push(el);
        }
      });

      return slimmedAlerts;
    },
  },
};
</script>
