<template>
  <div v-if="loading" class="w-full h-screen">
    <Loader />
  </div>
  <div v-else class="section-container">
    <div class="w-100 flex mb-4">
      <router-link to="/" class="back-nav">
        <!-- prettier-ignore -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
        </svg>
        Back to Dashboard
      </router-link>
    </div>
    <h1 class="section-title">Incidents</h1>
    <div class="px-6">
      <div
        class="
          p-6
          bg-white
          rounded-xl
          shadow-md
          flex flex-col
          content-start
          relative
        "
      >
        <DataTable
          :value="parsedAlerts"
          :paginator="true"
          :rows="10"
          v-model:filters="filters"
          filterDisplay="menu"
          :autoLayout="true"
          :loading="loading"
        >
          <Column field="key_hash" header="ID" :sortable="true"></Column>
          <Column
            field="description"
            header="Description"
            :sortable="true"
          ></Column>
          <Column field="dst_host" header="Canary IP" :sortable="true"></Column>
          <Column
            field="src_host"
            header="Attacker IP"
            :sortable="true"
          ></Column>
          <Column
            field="created_readable"
            header="Date"
            :sortable="true"
          ></Column>
          <Column field="node_id" header="Canary" :sortable="true"></Column>
          <Column field="node_id" header="">
            <template #body="slotProps">
              <router-link
                :to="{ path: '/canaries/' + slotProps.data.node_id }"
                class="btn-more"
              >
                View Canary
                <!-- prettier-ignore -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500 hover:text-gray-900 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
              </router-link>
            </template>
          </Column>
        </DataTable>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Loader from "@/components/Loader.vue";

export default {
  name: "Incidents",
  components: {
    Loader,
  },
  computed: {
    parsedAlerts() {
      let parsedAlerts = [];

      this.alerts.forEach((alert) => {
        alert["key_hash"] = this.stringToHash(alert.key);
        alert["created_readable"] = this.shortenDate(alert.created_printable);
        parsedAlerts.push(alert);
      });

      return parsedAlerts;
    },
  },
  data() {
    return {
      loading: false,
      url: process.env.VUE_APP_API,
      alerts: [],
    };
  },
  mounted() {
    this.alerts = this.$store.getters.getAlerts;
    if (this.$store.getters.getAlerts.length === 0) {
      this.populateData();
    }
  },
  created() {},
  methods: {
    populateData() {
      this.loading = true;
      axios
        .get(this.url)
        .then((response) => {
          // handle success
          this.alerts = response.data["alerts"];
          this.$store.commit("setAlerts", this.alerts);
          this.loading = false;
        })
        .catch((error) => {
          // handle error
          this.loading = false;
          if (error.response) {
            // client received an error response (5xx, 4xx)
            console.log("Server Error:", error);
          } else if (error.request) {
            // client never received a response, or request never left
            console.log("Network Error:", error);
          } else {
            console.log("Client Error:", error);
          }
        });
    },
    stringToHash(s) {
      return s.split("").reduce(function (a, b) {
        a = (a << 5) - a + b.charCodeAt(0);
        return a & a;
      }, 0);
    },
    shortenDate(date) {
      date = date.replace(" GMT+0000 (UTC)", "");
      return date;
    },
  },
};
</script>
<style lang="scss" scoped></style>
