<template>
  <div class="data">
    {{ alerts }}
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Data",
  props: {},
  data() {
    return {
      url: process.env.VUE_APP_API,
      alerts: [],
      deviceList: [],
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      axios
        .get(this.url)
        .then((response) => {
          // handle success
          this.alerts = response.data["alerts"];
          this.deviceList = response.data["device_list"];
          this.$store.commit("setAlerts", this.alerts);
          this.$store.commit("setDeviceList", this.deviceList);
        })
        .catch((error) => {
          // handle error
          if (error.response) {
            // client received an error response (5xx, 4xx)
            console.log("Server Error:", error);
          } else if (error.request) {
            // client never received a response, or request never left
            console.log("Network Error:", error);
          } else {
            console.log("Client Error:", error);
          }
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.data {
  color: #000;
}
</style>
