<template>
  <div class="card-body" v-bind:class="cardStyle">
    <div class="flex flex-col content-start">
      <p class="card-title">
        {{ title }}
      </p>
      <p class="text-left text-gray-500">{{ subtitle }}</p>
    </div>
    <div class="ml-0 mt-4 flex flex-col content-start">
      <div class="flex flex-col lg:flex-row">
        <div
          v-if="value"
          class="flex flex-row text-left mr-4"
          v-bind:class="valueStyle"
        >
          {{ value }}
        </div>
        <div v-if="label" class="flex flex-row text-left text-sm">
          {{ label }}
        </div>
      </div>
      <div v-if="link" class="card-footer">
        <router-link :to="{ path: link }" class="btn-more">
          {{ linkLabel }}
          <!-- prettier-ignore -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500 hover:text-gray-900 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "StatCard",
  props: {
    title: String,
    subtitle: String,
    value: [String, Number],
    valueStyle: String,
    label: String,
    link: String,
    linkLabel: String,
    cardStyle: String,
  },
  computed: {},
  data() {},
  mounted() {},
  created() {},
  methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
