<template>
  <nav><Navbar /></nav>
  <aside></aside>
  <main><router-view /></main>
  <footer><Footer /></footer>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "App",
  components: {
    Navbar,
    Footer,
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
#app {
  font-family: "Open Sans", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.back-nav {
  @apply px-4 text-base flex font-medium text-gray-500 hover:text-gray-900;
}

.section-container {
  @apply bg-gray-100 py-10 px-0 md:px-8;
}

.section-title {
  @apply mt-4 mb-6 text-xl text-black font-bold;
}

.card-body {
  @apply p-6 bg-white rounded-xl shadow-md flex flex-col content-start relative transform transition duration-300 hover:-translate-y-2;
}

.card-title {
  @apply text-left text-xl font-medium text-black;
}

.card-footer {
  @apply flex flex-row justify-end self-end content-end text-right text-sm mt-6;
}

.btn-more {
  @apply flex-row whitespace-nowrap inline-flex items-center justify-center text-base text-right font-medium text-gray-500 hover:text-gray-900;
}
</style>
